body{
   
    
     background-color:#3498db;
}

.container {
    width:80%;
    margin: auto ;
    
    
}
h1{font-style:italic;
    color: #ecf0f1;
    font-size:40px;
    font-family:verdana;
    text-align: center;
    padding-top:5%
}
.conts{
     margin: auto  ;
    margin-top: 80px;
    background-color:#9b59b6;
    width:40%;
    height: 40%;
    padding:20px;
    box-shadow: 10px 10px 10px #2c3e50;
        
}

form {
    text-align: center;
    margin-top: 20%
}
form input{padding:15px;
			border:none;
			margin-bottom: 15px;
			font-size:18px;
			color:#808080
			}
form input[type='submit']{
    font-size:20px;
    border-radius: 2px;
    color:#fff;
    font-style:italic;
    font-family:verdana;
    background-color:#3498db;
    box-shadow: 5px 5px 5px #2c3e50;
}

